
@using CI_platfom.Entity.ViewModel
@model HomeLandingPageVM

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <partial name="_MissionFilter" />

<div class="container mt-4">
        <div class="row d-flex">
            <div class="col-lg-9 col-md-7 col-12">
                <h3>Explore <span>@Model.Mission.Count()</span> missions</h3>
            </div>
            <div class="col-md-3 col-lg-2 sort">
                <div class="dropdown">
                    <div class="p-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:1px solid black">
                        Sort BY
                    </div>
                      <ul class="dropdown-menu" id="sortByDropdown">
                <li><a class="dropdown-item" >Newest</a></li>
                <li><a class="dropdown-item">Oldest</a></li>
                <li><a class="dropdown-item">Lowest available seats</a></li>
                <li><a class="dropdown-item">Highest available seats</a></li>
                <li><a class="dropdown-item">My favourites</a></li>
                <li><a class="dropdown-item">Registration deadline</a></li>
                      </ul>
                </div>
            </div>

            <div class="col-lg-1 col-md-2 d-flex">
                 <div class="col-1">
                    <button class="tablink" onclick="openPage('list', this,'#d8e4f0')"><img
                            src="~/images/list.png"></button>
                </div>
                <div class="col-1">
                    <button class="tablink " onclick="openPage('grid', this,'#d8e4f0')" id="defaultOpen"><img
                            src="~/images/grid.png"></button>
                </div>
          </div>

    </div>
    </div>
@*here from card component*@

<partial name="_GridPartial" />
<partial name="_ListPartial"/>


          
         


<div class="container-fluid mt-5">
    <hr />
    
</div>
    <script src="~/js/Filters.js"></script>
 <script>
            function openPage(pageName, elmnt, color) {
                // Hide all elements with class="tabcontent" by default */
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Remove the background color of all tablinks/buttons
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].style.backgroundColor = "";
                }

                // Show the specific tab content
                document.getElementById(pageName).style.display = "block";

                // Add the specific color to the button used to open the tab content
                elmnt.style.backgroundColor = color;
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();

        </script>

   

