
@using CI_platfom.Entity.ViewModel
@model HomeLandingPageVM

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <partial name="_MissionFilter" />

<div class="container mt-4">
        <div class="row d-flex">
            <div class="col-lg-9 col-md-7 col-12">
                <h3>Explore  <span>@Model.Mission.Count()</span> missions</h3>
            </div>
            <div class="col-md-3 col-lg-2 sort">
                <div class="dropdown">
                    <div class="p-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:1px solid black">
                        Sort BY
                    </div>
                      <ul class="dropdown-menu" id="sortByDropdown">
                <li><a class="dropdown-item" >Newest</a></li>
                <li><a class="dropdown-item" >Oldest</a></li>
                <li><a class="dropdown-item">Lowest available seats</a></li>
                <li><a class="dropdown-item">Highest available seats</a></li>
                <li><a class="dropdown-item">My favourites</a></li>
                <li><a class="dropdown-item">Registration deadline</a></li>
                      </ul>
                </div>
            </div>

            <div class="col-lg-1 col-md-2 d-flex">
                <button id="grid" class="btn-view temp">
                    
                    <img src="~/images/grid.png" alt="gridlogo"/>

                </button>
                <button id="list" class="btn-view temp">

                       <img src="~/images/list.png" alt="listslogo">
                </button>
          </div>

    </div>
    </div>
@*here from card component*@

<partial name="_GridPartial" />
<partial name="_ListPartial"/>

@*<div class="container d-flex justify-content-center mt-5">
    <nav aria-label="Page navigation example">
  <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                  <li class="page-item">
      <a class="page-link" href="/Mission/HomePage?sort=@Model.sort&currentPage=@(Model.CurrentPage-1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      
      </a>
    </li>
            }
          
            @for(int i = 1; i < Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="page-item mx-3"><a class="page-link active" href="/Mission/HomePage?sort=@Model.sort&currentPage=@i">@i</a></li>
                }
                else
                {
                    <li class="page-item mx-3"><a class="page-link active" href="/Mission/HomePage?sort=@Model.sort&currentPage=@i">@i</a></li>

                }
            }
            
    @if(Model.CurrentPage < Model.TotalPages){
    <li class="page-item">
      <a class="page-link" href="/Mission/HomePage?sort=@Model.sort&currentPage=@(Model.CurrentPage+1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
       
      </a>
    </li>
    }
  </ul>
</nav>
</div>*@


<div class="container-fluid mt-5">
    <hr />
    
</div>

  @*  <div class="container mb-3">
         <a asp-controller="Mission" asp-action="PrivacyPolicy">Privacy Policy</a>
    </div>*@
   

