* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NotoSans;
}

.carousel-caption {
    text-align: left;
}

.carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
}

.main-text {
    font-size: 2.688rem;
}

.sub-text {
    font-size: 1rem;
    line-height: 1.75;
    font-weight: 300;
}

.mail input {
    max-width: 25.063rem;
    width: 100%;
    height: 3.5rem;
    padding: 1.25rem 11.625rem 1.188rem 0.938rem;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(43, 100, 177, 0.12);
    border: solid 1px #2b64b1;
    background-color: #fff;
    font-size: 1rem;
}

.pass input {
    max-width: 25.063rem;
    width: 100%;
    height: 3.5rem;
    border-radius: 3px;
    box-shadow: 1px 0.3px 3px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d9d9d9;
    background-color: #fff;
}

.login-btn {
    max-width: 25.063rem;
    width: 100%;
    height: 3rem;
    border-radius: 24px;
    border: solid 2px #f88634;
    /* font-family: NotoSans; */
    font-size: 1.063rem;
    color: #f88634;
    background-color: #fff;
}

    .login-btn:hover {
        color: #fff;
        background-color: #f88634;
    }

#register a {
    text-decoration: none;
}

#forgotpw a {
    text-decoration: none;
    color: #414141;
}
/* <forgot_password_page> */
.reset-btn {
    background-color: #f88634;
    max-width: 25.063rem;
    width: 100%;
    height: 3rem;
    border-radius: 24px;
    border: solid 2px #f88634;
    font-size: 1.063rem;
    color: #f88634;
    text-decoration: none;
    background-color: #fff;
}

    .reset-btn:hover {
        color: #fff;
        background-color: #f88634;
    }

#login a {
    text-decoration: none;
    color: #414141;
}

.loginform label {
    font-family: NotoSans;
}

.fname input {
    max-width: 25.063rem;
    width: 100%;
    height: 3.5rem;
    padding: 1.25rem 11.625rem 1.188rem 0.938rem;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(43, 100, 177, 0.12);
    border: solid 1px #2b64b1;
    background-color: #fff;
}

input {
    max-width: 25.063rem;
    width: 100%;
    height: 3.5rem;
    border-radius: 3px;
    box-shadow: 1px 0.3px 3px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d9d9d9;
    background-color: #fff;
}

.register-btn {
    max-width: 25.063rem;
    width: 100%;
    height: 3rem;
    border-radius: 24px;
    border: solid 2px #f88634;
    /* font-family: NotoSans; */
    font-size: 1.063rem;
    color: #f88634;
    background-color: #fff;
}

    .register-btn:hover {
        color: #fff;
        background-color: #f88634;
    }

#login a {
    text-decoration: none;
}

#forgotpw a {
    text-decoration: none;
    color: #414141;
}

#privacy-policy {
    margin-top: 14.625rem;
    color: #414141;
}

@media (max-width:1304px) {
    #privacy-policy {
        margin-top: 10.625rem;
    }
}

@media (max-width:1198px) {
    #privacy-policy {
        margin-top: 8.625rem;
    }
}

@media (max-width:1100px) {
    #privacy-policy {
        margin-top: 5rem;
    }
}

.profilePhoto {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.border-none {
    border: none !important;
    border-radius: 0px !important;
}

.img-filter {
    display: none;
}

.form-check-input:checked {
    background-color: #ff6a00 !important;
    border-color: #ff6a00 !important;
    margin-bottom: 28px;
}

.tablink {
    border-radius: 17px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}


.btn-1 {
    /* transform: translate(-50%, -50%); */
    /* -ms-transform: translate(-50%, -50%); */
    background-color: #2d2c2c;
    color: #ffffff;
    border-radius: 20px;
    border: none;
}

.btn-2 {
    /* transform: translate(-50%, -50%); */
    /* -ms-transform: translate(-50%, -50%); */
    background-color: #2d2c2c;
    color: #ffffff;
    border-radius: 20px;
    border: none;
}

.btn-3 {
    /* transform: translate(-50%, -50%); */
    /* -ms-transform: translate(-50%, -50%); */
    background-color: #2d2c2c;
    color: #ffffff;
    border-radius: 20px;
    border: none;
}

.btn_view {
    align-content: center;
    color: #ff6a00;
    border-color: #ff6a00;
    border-radius: 20px;
    background-color: #ffffff;
}


@media screen and (max-width:767px) {

    #profileText {
        display: none !important;
    }

    .img-filter {
        display: block;
    }

    .filter-options {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .tablink {
        display: none;
    }
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* adjust this to the height of your footer */
}