@using CI_platfom.Entity.ViewModel;
@{
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
@model LandingPageVM

<body>

                <form asp-action="Forgot" method="post" asp-controller="Home" class="forgot mt-md-5 mt-sm-5 mt-5">
                    <h2 class="text-center">Forgot Password</h2>
                    <div class="mt-2 text-center">Enter your email address you've using for your account below<br>
                        and we will send you a password reset link
                    </div>
                    <div class="mb-3 mt-4 mail">
                        <label for="email" class="form-label mb-0">Email address</label>
                         <input asp-for="Email" type="Email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your Email...">
                    
                    </div>
                    <button type="submit" class="reset-btn">Reset my Password</button>
                    <div id="login" class="mt-3 text-center"><a asp-action="login" asp-controller="Home">Login</a></div>
                    <div id="privacy-policy" class="text-center">Privacy Policy</div>
                </form>
          
</body>

</html>
