@using CI_platfom.Entity.ViewModel
@model LandingPageVM
@{
       Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

<!DOCTYPE html>
<html lang="en">
 
    <body> 
                    <form asp-action="Login" method="post" asp-controller="Home"  class="login mt-md-5 mt-sm-5 mt-5">
                 
                        <div class="mb-3 mail">
                            <label  class="form-label mb-0">Email address</label>
                            <input asp-for="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="evan.donohue@gmail.com">
                      <span style="colour:red;" asp-validation-for="Email"></span>
                        </div>
                        <div class="mb-3 pass">
                            <label class="form-label mb-0" >Password</label>                                
                            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="**********">
                                <span style="colour:red;" asp-validation-for="Password"></span>
                        </div>
                        <button type="submit" class="login-btn" >Login</button>
   
                        <div id="forgotpw" class="mt-3 text-center"><a asp-controller="Home" asp-action="Forgot">Lost your password?</a></div>
                        <div id="register" class="mt-3 text-center">Don’t have an account? <a asp-controller="Home" asp-action="Registration">Create an account</a></div>
                        <div id="privacy-policy" class="text-center">Privacy Policy</div>
                    </form>
       
          
    </body>
   
</html>
