@using CI_platfom.Entity.ViewModel;
@model NewPasswordValidation
@{
      Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

<!DOCTYPE html>
<html lang="en">
 
    <body>
        
         
                    <form asp-action="Reset" method="post" asp-controller="Home" class="reset mt-md-5 mt-sm-5 mt-5">
                        <h2 class="text-center">New Password</h2>
                        <div class="mt-2 text-center">Please enter a new password in the fields below.</div>
                        <div class="mt-4 mb-3 pass">
                            <label for="password" class="form-label mb-0">New Password</label>                                
                            <input asp-for="Password" type="Password" class="form-control" id="password" placeholder="**********">
                        </div>
                        <div class="mb-3 pass">
                            <label for="password" class="form-label mb-0">Confirm New Password</label>                                
                            <input asp-for="Password" type="Password"  class="form-control" name="conformpassword" id="password" placeholder="**********">
                        </div> 
                        <button type="submit" class="reset-btn">Change Password</button>
                        
                        <div id="login" class="mt-3 text-center"><a asp-action="login" asp-controller="Home">Login</a></div>
                        <div id="privacy-policy" class="text-center">Privacy Policy</div>
                    </form>
           
    </body>
</html>