@{
    ViewData["Title"] = "Admin_Mission";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
        <link rel="stylesheet" href="~/css/Admin.css">
</head>
            <!-- search options -->
            <div class="row mt-5">
                <div class="col-md-9 col-6 ms-5 ">
                    <form action="" class="">
                        <div class="border searchMission d-flex w-50">
                            <button type="button" class="btn"><img src="images/search.png" alt=""></button>
                            <input class="form-control me-2 border-0 bg-transparent" type="search" placeholder="Search "
                                id="searchbtn" aria-label="Search">
                        </div>
                    </form>
                </div>
                <div class="col d-flex justify-content-center">
                    <button type="button" class="btn addbtn rounded-pill px-4" id="addBtn" data-bs-toggle="modal"
                        data-bs-target="#timeModal">
                        <i class="fa-solid fa-plus pe-2"></i>
                        Add
                    </button>
                </div>
            </div>
            <!-- ends search -->

            <div class="table-responsive ms-5 mt-5">
                <table id="example" class="table nowrap border" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th class="border-bottom-0">Story Title</th>
                            <th class="border-bottom-0">Full Name</th>
                            <th class="border-bottom-0">Mission Title</th>
                            <th class="border-bottom-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Desktop publishing software also the leap into</td>
                            <td>Adam Baldwin</td>
                            <td>Desktop publishing software</td>
                            <td>
                                <button class="btn rounded-pill" id="viewbtn">View</button>
                                <button class="btn border-0" id="success"><i class="fa-regular fa-circle-check" style="font-size: 22px;"></i></button>
                                <button class="btn border-0" id="cancel"><i class="fa-regular fa-circle-xmark" style="font-size: 22px;"></i></button>
                                <button class="btn border-0"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Various versions have evolved over sometimes</td>
                            <td>Peter Wallace</td>
                            <td>Various versions have evolved over</td>
                            <td>
                                <button class="btn rounded-pill" id="viewbtn">View</button>
                                <button class="btn border-0" id="success"><i class="fa-regular fa-circle-check" style="font-size: 22px;"></i></button>
                                <button class="btn border-0" id="cancel"><i class="fa-regular fa-circle-xmark" style="font-size: 22px;"></i></button>
                                <button class="btn border-0"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>A Latin professor at Hampden-Sydney  like Aldus PageMaker i</td>
                            <td>Jacob Dunn</td>
                            <td>A Latin professor at Hampden-Sydney</td>
                            <td>
                                <button class="btn rounded-pill" id="viewbtn">View</button>
                                <button class="btn border-0" id="success"><i class="fa-regular fa-circle-check" style="font-size: 22px;"></i></button>
                                <button class="btn border-0" id="cancel"><i class="fa-regular fa-circle-xmark" style="font-size: 22px;"></i></button>
                                <button class="btn border-0"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                        
                        
                    </tbody>
                </table>
            </div>