@using CI_platfom.Entity.ViewModel
@model StoryLandingPageVM
@{
    ViewData["Title"] = "Share story page";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
@*<script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>*@
<link rel="stylesheet" href="~/css/ShareYourStory.css" asp-append-version="true"/>
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
</head>

 <style>
.ck-content{
     height:200px !important;
 }
 </style>
 <div class="container">
            <h2 class="ms-4 mt-3">Share your Story</h2>
            <form action="" class="ms-4 mt-5 text-secondary" id="storyFormData">
                <!-- first row -->
                <div class="row row-cols-lg-3 row-cols-md-3 row-cols-1">
                    <div class="col">
                        <label for="" class="form-label ms-1">Select Mission</label>
                        <select class="form-select" aria-label="Default select example" id="shareStoryMission">
                            <option selected>Select your mission</option>
                           
                        @{
                            var missionlist= Model.missionApplication.Where(u => u.UserId == Model.LoggedUser.UserId && u.ApprovalStatus=="APPROVE");
                            Console.WriteLine(missionlist);
                            foreach(var listdropdown in missionlist)
                            {
                                 <option value="@listdropdown.Mission.MissionId">@listdropdown.Mission.Title</option>
                            }
                        }           
                        </select>
                    </div>
                    <div class="col">
                        <label for="" class="form-label ms-1">My Story Title</label>
                        <input type="text" name="storyTitle" id="storyTitle" class="form-control" placeholder="Enter story title" >
                    </div>
                    <div class="col">
                        <label for="" class="form-label ms-1">Date</label>
                        <input type="date" name="storyTitle" id="storyDate" class="form-control" placeholder="Select Date">
                    </div>
                </div>
               @* <label for="" class="form-label ms-1 mt-3">My Story</label>
                
                  

                    <!-- text-area -->
                    <textarea class="form-control" name="editor1"></textarea>
                   *@
                    <!-- <div class="end"></div> -->
                <div class="form-group">
                         <label class="form-label ms-1 mt-3">My Story</label>
                        <textarea id="editor" name="DSC"></textarea>
                 </div>
                <div class="mt-3"> 
                    <label for="" class="form-label ms-1">Enter Video URL</label>
                    <textarea type="url" name="storyTitle" id="storyURL" class="form-control" placeholder="Enter your url"></textarea>
                </div>
                <label for="" class="form-label mt-3 ms-1 mb-0">Upload your Photos</label>
                <div class="card drag-card" style="border: none;">
                    <div class="drag-area">
                        <span class="visible">
                            <span class="select" role="button"><img src="~/images/drag-and-drop.png"></span>
                        </span>
                        <span class="on-drop">Drop images here</span>
                        <input name="file" type="file" class="file" id="upload-files" multiple />
                    </div>
                    <!-- IMAGE PREVIEW CONTAINER -->
                    <div class="container-img mt-3" id="imagesShow"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2 col">
                        <button class="btn btn-outline-secondary rounded-pill px-5 py-2 mt-md-0 mt-2" type="submit">Cancel</button>
                    </div>
                    <div class="col-md-6 col">
                        <button class="btn btn-outline-secondary  rounded-pill px-5 py-2 mt-md-0 mt-2 " id="previewStory" disabled>Preview</button>
                    </div>
                    <div class="col-md-2 col">
                        <button class="btn submit-btn rounded-pill px-5 py-2 mt-md-0 mt-2 saveStory" type="submit" value="1">Save</button>
                    </div>
                    <div class="col-md-2 col">
                        <button class="btn submit-btn rounded-pill px-5 py-2 mt-md-0 mt-2 submitStory" id="submitStory" type="submit" disabled value="2">Submit</button>
                    </div>
                </div>
                </form>
                </div>

                <hr class="mt-5"/>

  
      <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script src="~/js/StoryPage.js"></script>
 <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script>    
        CKEDITOR.replace( 'editor' );
</script>
