
@using CI_platfom.Entity.ViewModel
@model AdminVM
@{
    ViewData["Title"] = "Admin_Update_MissionThemes";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/AdminAddEdit.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<div class="container">
   <form asp-controller="Admin" Asp-Action="UpdateMissionTheme" Method="post">
           <div class="row mx-5 my-5">
               <div class="form-header mt-4 p-3">
            @if (Model.missionTheme != null)
            {
                <h4 class="form-header-text">Edit Mission Theme</h4>   
            }
            else
            {
                <h4 class="form-header-text">Add Mission</h4>                
            }

        </div>
            <div class="row">
                <input type="hidden" id="MissionThemeId" asp-for="missionTheme.MissionThemeId">

                <div class="col-sm-6">
                    <label for="title" class="form-label text-secondary">Theme Title *</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name" asp-for="missionTheme.Title">
                </div>
                <div class="col-sm-6">
             @{
                <label for="status" class="form-label text-secondary">Status:</label>
                <select id="status" class="form-select text-secondary">
               @if (Model.missionTheme!=null && Model.missionTheme.Status == 1)
               {
                <option value="1" selected="selected">Active</option>
                <option value="0">In-Active</option>
               }
              else
              {
                <option value="1">Active</option>
                <option value="0" selected="selected">In-Active</option>
              }
              </select>
              }
             </div>

               </div>
            <div class="row">
                 <div class="col-4 mt-5 mx-5 "></div>
                       <div class="col-8">
                       <button type="button" class="cancel-btn"asp-controller="Admin" asp-action="admin_user">Cancel</button>
                       <button type="submit" class="Save-btn" >Save</button>
                   </div>
              </div>  
            </form>
        
</div>
<script src="~/js/UserProfile.js"></script>

